geva/work/
work/
transcript
*.wlf
*.mti
*.mpf
geva/*.c
geva/db/
geva/incremental_db/
geva/output_files/
geva/simulation/
geva/*.bak
geva/*.rpt
geva/*.qws
geva/*.mem
geva/wlft*
geva/test*
geva/ArquitecturaHybridARMIPS_assignment_defaults.qdf
*.bak
