geva/work/
work/
transcript
*.wlf
*.mti
*.mpf
*.c
*.ver
geva/db/
geva/incremental_db/
geva/output_files/
geva/simulation/
*.bak
*.rpt
*.qws
*.mem
geva/wlft*
geva/geva.qsf
geva/geva.qpf
geva/vsim.wlfgit 
geva/greybox_tmp/
geva/c5_pin_model_dump.txt
geva/220model/
geva/.qsys_edit
geva/ArquitecturaHybridARMIPS_assignment_defaults.qdf
*.bak
*220model
modelsim_tests_proyecto_2.cr.mti
modelsim_tests_proyecto_2.mpf
Proyecto2.cr.mti
vga_addr_decoder_test.cr.mti
vga_addr_decoder_test.mpf
vgatest.cr.mti
vgatest.mpf
vsim.wlf
