work/
db/
incremental_db/
output_files/
simulation/
*.bak
*.rpt
*.qws
DUTcompilation.do
DUTsimulation.do
DUTsimulate.do
wave.do
*.mem
wlft*
test*
ArquitecturaHybridARMIPS_assignment_defaults.qdf
wave.do
DUTcompile.do
